services:
  - type: web
    name: robotics-club-mnnit
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node app.js
    envVars:
      - key: NODE_VERSION
        value: 20.11.0